grafana:
  enabled: true
  service:
    type: NodePort
    nodePort: 30300

prometheus:
  enabled: true
  service:
    type: NodePort
    nodePort: 30090

kubeStateMetrics:
  enabled: true

nodeExporter:
  enabled: true

alertmanager:
  enabled: false
