apiVersion: v1
kind: Namespace
metadata:
  name: {{ logging_namespace }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd-config
  namespace: {{ logging_namespace }}
data:
  fluent.conf: |
    <source>
      @type tail
      path /var/log/containers/*.log
      pos_file /tmp/fluentd-containers.log.pos
      tag kubernetes.*
      read_from_head true

      <parse>
        @type regexp
        expression /^(?<time>[^ ]+) (?<stream>stdout|stderr) (?<flag>[^ ]*) (?<message>.*)$/
        time_key time
        time_format %Y-%m-%dT%H:%M:%S.%N%z
      </parse>
    </source>

    <match kubernetes.**>
      @type loki
      url "http://loki.logging.svc.cluster.local:3100"

      extra_labels {
        "job": "fluentd",
        "cluster": "mts-hack",
        "source": "kubernetes"
      }

      <buffer>
        flush_interval 5s
        retry_forever true
        retry_wait 1s
      </buffer>
    </match>
