[defaults]
# Specify the inventory file
inventory = ./inventory/hosts.ini

#path for 
roles_path = ./collections/ansible_collections/demo/demo/roles
#vault_password_file = collections/ansible_collections/demo/demo/vars_vault/vault_pass

collections_path = ./collections

# Set the logging verbosity level
verbosity = 2

# Set the default user for SSH connections
remote_user = mrrobot

[persistent_connection]
# Controls how long the persistent connection will remain idle before it is destroyed
connect_timeout=30

# Controls the amount of time to wait for response from remote device before timing out persistent connection
command_timeout=30
